{% extends "base.html" %}

{% block content %}
     <!-- Monday Madness -->
    <div id="our-selection" class="specials med-width-content">
        <div class="section-heading">
            <h6 class="title">Monday Madness</h6>
            <h3 class="subtitle">Curb the Monday blues and start your week right with our delicious delights. Visit our store and purchase these favorites with our <span class="discount">special 20% off in-store deal</span> every Monday.</h4>
        </div>
        <div class="section-products menu">
            <div class="product-cards menu-card1">
               <a href="/donuts">
                   <div class="card-contents">
                    <div class="cat-img prod-donuts"></div>
                      <!-- img src="https://i.ibb.co/tcq17jR/donut-product.jpg" alt="image source from https://www.pexels.com/photo/photo-of-chocolate-donuts-3656118/ " -->
                    <div class="card-details">
                        <h2>Donuts</h2>
                        <h5 class="oprice">Online Price: $4.50</h5>
                        <h5 class="sprice">In-store Price: <span>$3.60</span></h5>
                    </div>
                    </div>
                </a>
            </div>
            <div class="product-cards menu-card4">
                <a href="/custard-tart">
                    <div class="card-contents">
                    <div class="cat-img prod-custard"></div>
                    <!-- img src="https://i.ibb.co/nPB3frm/custard-product.jpg" alt="image source from https://www.pexels.com/photo/delicious-portuguese-eggs-tart-on-paper-5677314/" -->
                    <div class="card-details">
                        <h2>Custard tart</h2>
                        <h5 class="oprice">Online Price: $3.95</h5>
                        <h5 class="sprice">In-store Price: <span>$3.16</span></h5>
                    </div>
                    </div>
                </a>
            </div>
            <div class="product-cards menu-card6">
                 <a href="/apple-cake-slice">
                    <div class="card-contents">
                   <div class="cat-img prod-apple"></div>
                    <!-- img src="https://i.ibb.co/5rDypJ8/apple-product.jpg" alt="image source from https://www.pexels.com/photo/brown-pie-on-tray-3223494/" -->
                    <div class="card-details">
                        <h2>Apple cake slice</h2>
                        <h5 class="oprice">Online Price: $5.50</h5>
                        <h5 class="sprice">In-store Price: <span>$4.40</span></h5>
                    </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}